.view-cars-page {
  padding: 1rem;

  .view-car-header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 1rem;

    .add-car-button {
      font-size: 0.875rem;
    }
  }

  .table-container {
    overflow: auto;
    max-height: calc(100vh - 10rem);
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th {
      position: sticky;
      top: 0;
      background-color: #f5f5f5;
      z-index: 1;
    }
  }
}
